/* Themes Config */
@theme {

    --font-heading: "Archivo", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-body-alt: "Covered By Your Grace", cursive;

    --color-primary: #7af080;
    --color-secondary: #dafe7d;

    --color-body-bg: #0a0a0a;
    --color-body-color: #0a0a0a;

    --color-default-50: var(--color-neutral-50);
    --color-default-100: var(--color-neutral-100);
    --color-default-200: var(--color-neutral-200);
    --color-default-300: var(--color-neutral-300);
    --color-default-400: var(--color-neutral-400);
    --color-default-500: var(--color-neutral-500);
    --color-default-600: var(--color-neutral-600);
    --color-default-700: var(--color-neutral-700);
    --color-default-800: var(--color-neutral-800);
    --color-default-900: var(--color-neutral-900);
    --color-default-950: var(--color-neutral-950);
}