/* _general.css */


@layer base {
    html {
        @apply w-full scroll-smooth;
    }

    body {
        @apply font-body bg-body-bg text-body-color text-sm leading-normal overflow-x-clip;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading leading-[1.3] font-medium text-default-900;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        @apply cursor-pointer;
    }
}

select,
input,
textarea {
    @apply transition-all duration-200 dark:focus:border-white/50 focus:border-primary focus:ring-0 focus:outline-0;
}


.inner-container-small {
    @apply md:px-7.5 px-3.75 max-w-[660px] mx-auto;
}

.container-small {
    @apply mx-auto lg:max-w-[980px] px-5;
}

/* Navbar Active Link */
#navbar li.active a {
    span {
        @apply bg-body-bg;
    }

    img {
        @apply opacity-100;
    }
}




/* Infinite horizontal scroll */

/* Normal direction */
/* Infinite Scroll */
@keyframes infinite-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.infinite-scroll {
    display: flex;
    width: max-content;
    animation: infinite-scroll 30s linear infinite;
    will-change: transform;
}

/* Reverse Direction */
.infinite-scroll-inverse {
    display: flex;
    width: max-content;
    animation: infinite-scroll 30s linear infinite reverse;
    will-change: transform;
}

/* Pause on Hover (Optional) */
.infinite-scroll:hover,
.infinite-scroll-inverse:hover {
    animation-play-state: paused;
}